.oqqs4lhgkfl6ivu3cnvoezs4wxarqj-icon2 {
  position: absolute;
  top: 86px;
  left: 0;
  width: 2153px;
  height: 528px;
  object-fit: cover;
}
.farm-fresh-fruits1 {
  margin: 0;
}
.farm-fresh-fruits-container1 {
  position: absolute;
  top: 491px;
  left: 810px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--color-white);
  width: 747px;
  height: 90px;
}
.fresh-fruits-and1 {
  position: absolute;
  top: 636px;
  left: 29px;
  font-size: var(--font-size-29xl);
  font-weight: 600;
  color: var(--color-darkslategray);
}
.frame-child66 {
  position: absolute;
  top: 309px;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 460.42px;
  height: 71px;
}
.frame-child67 {
  position: absolute;
  top: 344px;
  left: 302.34px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gold);
  width: 131.99px;
  height: 25px;
}
.add25 {
  position: absolute;
  top: 348px;
  left: 319.22px;
  font-weight: 200;
  display: inline-block;
  width: 44.51px;
}
.frame-child68 {
  position: absolute;
  top: 344px;
  left: 29.16px;
  width: 78.27px;
  height: 25px;
}
.frame-child69,
.frame-child70 {
  position: absolute;
  background-color: var(--color-white);
  width: 110.5px;
}
.frame-child69 {
  top: 344px;
  left: 107.43px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 25px;
}
.frame-child70 {
  top: 273px;
  left: 12.28px;
  height: 28px;
}
.div18,
.mrp25,
.qty2 {
  position: absolute;
  top: 348px;
  font-weight: 200;
  display: inline-block;
}
.qty2 {
  left: 47.58px;
  color: var(--color-white);
  width: 35.3px;
}
.div18,
.mrp25 {
  left: 158.08px;
  width: 9.21px;
}
.mrp25 {
  top: 319px;
  left: 29.16px;
  width: 46.04px;
}
.add-shopping-cart28 {
  position: absolute;
  top: 347px;
  left: 388.28px;
  width: 33.76px;
  height: 22px;
  overflow: hidden;
}
.onion6 {
  position: absolute;
  top: 279px;
  left: 21.49px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 62.92px;
}
.rectangle-parent55 {
  position: absolute;
  top: 792px;
  left: 51px;
  background-color: var(--color-gainsboro-200);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 460.42px;
  height: 380px;
}
.heart-icon5 {
  position: absolute;
  top: 277px;
  left: 406.7px;
  width: 38.37px;
  height: 25px;
  object-fit: cover;
}
.rectangle-parent56,
.rectangle-parent57 {
  position: absolute;
  top: 1598px;
  left: 51px;
  background-color: var(--color-gainsboro-200);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 460.42px;
  height: 380px;
}
.rectangle-parent57 {
  top: 2001px;
  left: 62.99px;
}
.rectangle-parent58 {
  position: absolute;
  top: 792px;
  left: 52px;
  width: 459.93px;
  height: 380px;
  background-image: url(./public/frame-201@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.isolated-orange-fruit-slices-w-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 461.43px;
  height: 309px;
  object-fit: cover;
}
.orange2 {
  position: absolute;
  top: 279px;
  left: 20.97px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 101.87px;
}
.isolated-orange-fruit-slices-w-parent {
  position: absolute;
  top: 1195px;
  left: 51px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 460.42px;
  height: 380px;
  cursor: pointer;
}
.potatao {
  position: absolute;
  top: 279px;
  left: 20.97px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 95.88px;
}
.rectangle-parent59 {
  position: absolute;
  top: 1598px;
  left: 51px;
  width: 460.42px;
  height: 380px;
  background-image: url(./public/frame-33@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.brinjal1 {
  position: absolute;
  top: 261px;
  left: 28.46px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 62.92px;
}
.rectangle-parent60 {
  position: absolute;
  top: 2001px;
  left: 63px;
  width: 460.42px;
  height: 380px;
  background-image: url(./public/frame-411@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.rectangle-parent61,
.rectangle-parent62,
.rectangle-parent63,
.rectangle-parent64 {
  position: absolute;
  top: 792px;
  left: 568.2px;
  background-color: var(--color-gainsboro-200);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 460.42px;
  height: 380px;
}
.rectangle-parent62,
.rectangle-parent63,
.rectangle-parent64 {
  top: 1195px;
}
.rectangle-parent63,
.rectangle-parent64 {
  top: 1598px;
}
.rectangle-parent64 {
  top: 2001px;
  left: 580.18px;
}
.frame-child121 {
  position: absolute;
  top: -4px;
  left: -7.86px;
  width: 476px;
  height: 396px;
  object-fit: cover;
  cursor: pointer;
}
.tomato3 {
  position: absolute;
  top: 279px;
  left: 11.99px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 110.86px;
  height: 22px;
}
.favorite-icon27 {
  position: absolute;
  height: 76.46%;
  width: 83.33%;
  top: 11.04%;
  right: 8.33%;
  bottom: 12.5%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.favorite-icon28,
.favorite27 {
  position: absolute;
  top: calc(50% + 85px);
  width: 35.96px;
  height: 24px;
}
.favorite27 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 409.14px;
}
.favorite-icon28 {
  left: 933.14px;
}
.rectangle-parent65 {
  position: absolute;
  top: 792px;
  left: 567.86px;
  width: 969.09px;
  height: 380px;
}
.cucumber1 {
  position: absolute;
  top: 279px;
  left: 9.14px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 113.86px;
}
.rectangle-parent66 {
  position: absolute;
  top: 1195px;
  left: 560px;
  width: 460.42px;
  height: 380px;
  background-image: url(./public/frame-271@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.frame-child132 {
  position: absolute;
  top: 309px;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 469.14px;
  height: 71px;
}
.frame-child133 {
  position: absolute;
  top: 344px;
  left: 308.07px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gold);
  width: 134.49px;
  height: 25px;
}
.add38 {
  position: absolute;
  top: 348px;
  left: 325.27px;
  font-weight: 200;
  display: inline-block;
  width: 45.35px;
}
.frame-child134 {
  position: absolute;
  top: 344px;
  left: 29.71px;
  width: 79.75px;
  height: 25px;
}
.frame-child135,
.frame-child136 {
  position: absolute;
  background-color: var(--color-white);
  width: 112.59px;
}
.frame-child135 {
  top: 344px;
  left: 109.47px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 25px;
}
.frame-child136 {
  top: 273px;
  left: 12.51px;
  height: 28px;
}
.div31,
.mrp38,
.qty15 {
  position: absolute;
  top: 348px;
  font-weight: 200;
  display: inline-block;
}
.qty15 {
  left: 48.48px;
  color: var(--color-white);
  width: 35.97px;
}
.div31,
.mrp38 {
  left: 161.07px;
  width: 9.38px;
}
.mrp38 {
  top: 319px;
  left: 29.71px;
  width: 46.91px;
}
.add-shopping-cart41 {
  position: absolute;
  top: 347px;
  left: 395.64px;
  width: 34.4px;
  height: 22px;
  overflow: hidden;
}
.peas1 {
  position: absolute;
  top: 279px;
  left: 21.89px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 64.12px;
}
.rectangle-parent67 {
  position: absolute;
  top: 1598px;
  left: 567.86px;
  width: 469.14px;
  height: 380px;
  background-image: url(./public/frame-35@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.frame-child137 {
  position: absolute;
  top: -4px;
  left: -8px;
  width: 476.42px;
  height: 396px;
  object-fit: cover;
}
.frame-child138 {
  position: absolute;
  top: 302px;
  left: 3px;
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 460.42px;
  height: 71px;
}
.frame-child139 {
  position: absolute;
  top: 337px;
  left: 305.34px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gold);
  width: 131.99px;
  height: 25px;
}
.add39 {
  position: absolute;
  top: 341px;
  left: 322.22px;
  font-weight: 200;
  display: inline-block;
  width: 44.51px;
}
.frame-child140 {
  position: absolute;
  top: 337px;
  left: 32.16px;
  width: 78.27px;
  height: 25px;
}
.frame-child141,
.frame-child142 {
  position: absolute;
  background-color: var(--color-white);
}
.frame-child141 {
  top: 337px;
  left: 110.43px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 110.5px;
  height: 25px;
}
.frame-child142 {
  top: 266px;
  left: 14.98px;
  width: 125.84px;
  height: 28px;
}
.div32,
.mrp39,
.qty16 {
  position: absolute;
  top: 341px;
  font-weight: 200;
  display: inline-block;
}
.qty16 {
  left: 50.57px;
  color: var(--color-white);
  width: 35.3px;
}
.div32,
.mrp39 {
  left: 161.07px;
  width: 9.21px;
}
.mrp39 {
  top: 312px;
  left: 32.16px;
  width: 46.04px;
}
.add-shopping-cart42 {
  position: absolute;
  top: 340px;
  left: 391.28px;
  width: 33.76px;
  height: 22px;
  overflow: hidden;
}
.cabbage1 {
  position: absolute;
  top: 272px;
  left: 23.97px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 101.87px;
}
.rectangle-parent68 {
  position: absolute;
  top: 2008px;
  left: 576.85px;
  width: 463.41px;
  height: 380px;
  cursor: pointer;
}
.frame-child143 {
  position: absolute;
  top: 309px;
  left: 0.68px;
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 460.42px;
  height: 71px;
}
.frame-child144 {
  position: absolute;
  top: 344px;
  left: 303.02px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gold);
  width: 131.99px;
  height: 25px;
}
.add40 {
  position: absolute;
  top: 348px;
  left: 319.9px;
  font-weight: 200;
  display: inline-block;
  width: 44.51px;
}
.frame-child145 {
  position: absolute;
  top: 344px;
  left: 29.84px;
  width: 78.27px;
  height: 25px;
}
.frame-child146,
.frame-child147 {
  position: absolute;
  background-color: var(--color-white);
  width: 110.5px;
}
.frame-child146 {
  top: 344px;
  left: 108.11px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 25px;
}
.frame-child147 {
  top: 273px;
  left: 12.95px;
  height: 28px;
}
.div33,
.mrp40,
.qty17 {
  position: absolute;
  top: 348px;
  font-weight: 200;
  display: inline-block;
}
.qty17 {
  left: 48.25px;
  color: var(--color-white);
  width: 35.3px;
}
.div33,
.mrp40 {
  left: 158.75px;
  width: 9.21px;
}
.mrp40 {
  top: 319px;
  left: 29.84px;
  width: 46.04px;
}
.add-shopping-cart43 {
  position: absolute;
  top: 347px;
  left: 388.96px;
  width: 33.76px;
  height: 22px;
  overflow: hidden;
}
.onion14 {
  position: absolute;
  top: 279px;
  left: 22.16px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 62.92px;
}
.rectangle-parent69 {
  position: absolute;
  top: 792px;
  left: 1084.72px;
  width: 461.09px;
  height: 380px;
  background-image: url(./public/frame-18@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent70 {
  position: absolute;
  top: 1195px;
  left: 1085.4px;
  background-color: var(--color-gainsboro-200);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 460.42px;
  height: 380px;
}
.frame-child153 {
  position: absolute;
  top: 309px;
  left: 0;
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 460.6px;
  height: 71px;
}
.frame-child154 {
  position: absolute;
  top: 344px;
  left: 302.46px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gold);
  width: 132.04px;
  height: 25px;
}
.add42 {
  position: absolute;
  top: 348px;
  left: 319.35px;
  font-weight: 200;
  display: inline-block;
  width: 44.52px;
}
.frame-child155 {
  position: absolute;
  top: 344px;
  left: 29.17px;
  width: 78.3px;
  height: 25px;
}
.frame-child156,
.frame-child157 {
  position: absolute;
  background-color: var(--color-white);
  width: 110.54px;
}
.frame-child156 {
  top: 344px;
  left: 107.47px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 25px;
}
.frame-child157 {
  top: 273px;
  left: 12.28px;
  height: 28px;
}
.div35,
.mrp42,
.qty19 {
  position: absolute;
  top: 348px;
  font-weight: 200;
  display: inline-block;
}
.qty19 {
  left: 47.59px;
  color: var(--color-white);
  width: 35.31px;
}
.div35,
.mrp42 {
  left: 158.14px;
  width: 9.21px;
}
.mrp42 {
  top: 319px;
  left: 29.17px;
  width: 46.06px;
}
.add-shopping-cart45 {
  position: absolute;
  top: 347px;
  left: 388.44px;
  width: 33.78px;
  height: 22px;
  overflow: hidden;
}
.onion16 {
  position: absolute;
  top: 279px;
  left: 21.49px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 62.95px;
}
.rectangle-parent71 {
  position: absolute;
  top: 1598px;
  left: 1085.4px;
  width: 460.6px;
  height: 380px;
  background-image: url(./public/frame-36@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-child158 {
  position: absolute;
  top: 309px;
  left: 12.34px;
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 448.66px;
  height: 71px;
}
.frame-child159 {
  position: absolute;
  top: 344px;
  left: 306.96px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gold);
  width: 128.62px;
  height: 25px;
}
.add43 {
  position: absolute;
  top: 348px;
  left: 323.41px;
  font-weight: 200;
  display: inline-block;
  width: 43.37px;
}
.frame-child160 {
  position: absolute;
  top: 344px;
  left: 40.75px;
  width: 76.27px;
  height: 25px;
}
.frame-child161,
.frame-child162 {
  position: absolute;
  background-color: var(--color-white);
  width: 107.68px;
}
.frame-child161 {
  top: 344px;
  left: 117.03px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 25px;
}
.frame-child162 {
  top: 273px;
  left: 24.3px;
  height: 28px;
}
.div36,
.mrp43,
.qty20 {
  position: absolute;
  top: 348px;
  font-weight: 200;
  display: inline-block;
}
.qty20 {
  left: 58.7px;
  color: var(--color-white);
  width: 34.4px;
}
.div36,
.mrp43 {
  left: 166.38px;
  width: 8.97px;
}
.mrp43 {
  top: 319px;
  left: 40.75px;
  width: 44.87px;
}
.add-shopping-cart46 {
  position: absolute;
  top: 347px;
  left: 390.71px;
  width: 32.9px;
  height: 22px;
  overflow: hidden;
}
.onion17 {
  position: absolute;
  top: 279px;
  left: 33.28px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 61.32px;
}
.rectangle-parent72,
.rectangle-parent73 {
  position: absolute;
  left: 1085px;
  height: 380px;
  cursor: pointer;
}
.rectangle-parent72 {
  top: 2001px;
  width: 461px;
  background-image: url(./public/frame-44@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent73 {
  top: 792px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 460.42px;
}
.frame-child168 {
  position: absolute;
  top: -4px;
  left: -8px;
  width: 476.42px;
  height: 361px;
  object-fit: cover;
}
.grapes {
  position: absolute;
  top: 279px;
  left: 22.47px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 85.39px;
}
.rectangle-parent74 {
  position: absolute;
  top: 1195px;
  left: 1084.72px;
  width: 461.09px;
  height: 380px;
  cursor: pointer;
}
.frame-child178 {
  position: absolute;
  top: 273px;
  left: 12.81px;
  background-color: var(--color-white);
  width: 235.21px;
  height: 28px;
}
.sweet-potatao {
  position: absolute;
  top: 279px;
  left: 21.8px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 226.22px;
}
.rectangle-parent75,
.rectangle-parent76,
.rectangle-parent77,
.rectangle-parent78 {
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 460.42px;
  height: 380px;
}
.rectangle-parent75 {
  top: 1598px;
  left: 1085.4px;
  cursor: pointer;
}
.rectangle-parent76,
.rectangle-parent77,
.rectangle-parent78 {
  top: 792px;
  left: 1602.6px;
  background-color: var(--color-gainsboro-200);
}
.rectangle-parent77,
.rectangle-parent78 {
  top: 1195px;
}
.rectangle-parent78 {
  top: 1598px;
}
.frame-child198,
.garlic4 {
  position: absolute;
  left: 6.48px;
}
.frame-child198 {
  top: 274px;
  background-color: var(--color-white);
  width: 124.35px;
  height: 28px;
}
.garlic4 {
  top: 279px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 121.35px;
}
.rectangle-parent79,
.rectangle-parent80 {
  position: absolute;
  top: 2008px;
  left: 1606px;
  width: 460.42px;
  height: 380px;
  background-image: url(./public/frame-46@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.rectangle-parent80 {
  top: 792px;
  left: 1603.08px;
  background-image: url(./public/frame-23@3x.png);
}
.frame-child204 {
  position: absolute;
  top: -4px;
  left: -7.52px;
  width: 476.42px;
  height: 344px;
  object-fit: cover;
}
.beetroot1 {
  position: absolute;
  top: 279px;
  left: 21.46px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 115.36px;
}
.rectangle-parent81 {
  position: absolute;
  top: 1195px;
  left: 1602.6px;
  width: 460.9px;
  height: 380px;
  cursor: pointer;
}
.lemon3 {
  position: absolute;
  top: 279px;
  left: 21.46px;
  font-size: var(--font-size-mini);
  font-weight: 200;
  display: inline-block;
  width: 91.39px;
}
.rectangle-parent82 {
  position: absolute;
  top: 1598px;
  left: 1602.6px;
  width: 460.42px;
  height: 380px;
  background-image: url(./public/frame-391@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.fruitsnvegetables-inner {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: var(--color-darkseagreen-100);
  width: 2125px;
  height: 97px;
}
.khetmart15 {
  position: absolute;
  top: 64px;
  left: 42px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-dangrek);
  text-align: left;
}
.favorite28 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 261px);
  left: 449px;
}
.favorite28,
.favorite29,
.favorite30 {
  position: absolute;
  width: 36px;
  height: 24px;
}
.favorite29 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 263px);
  left: 1501px;
}
.favorite30 {
  top: calc(50% + 132px);
  left: 1494px;
}
.favorite30,
.favorite31,
.favorite32 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.favorite31 {
  position: absolute;
  top: calc(50% + 132px);
  left: 471px;
  width: 36px;
  height: 24px;
}
.favorite32 {
  top: calc(50% + 543px);
  left: 461px;
}
.favorite-icon35,
.favorite32,
.favorite33 {
  position: absolute;
  width: 36px;
  height: 24px;
}
.favorite33 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% + 543px);
  left: 972px;
}
.favorite-icon35 {
  top: calc(50% + 458px);
  left: 1494px;
}
.favorite34,
.favorite35,
.favorite36,
.favorite37,
.favorite38,
.favorite39,
.favorite40,
.favorite41,
.favorite42 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% + 546px);
  left: 2012px;
  width: 36px;
  height: 24px;
}
.favorite35,
.favorite36,
.favorite37,
.favorite38,
.favorite39,
.favorite40,
.favorite41,
.favorite42 {
  top: calc(50% + 946px);
  left: 469px;
}
.favorite36,
.favorite37,
.favorite38,
.favorite39,
.favorite40,
.favorite41,
.favorite42 {
  left: 975px;
}
.favorite37,
.favorite38,
.favorite39,
.favorite40,
.favorite41,
.favorite42 {
  left: 1494px;
}
.favorite38,
.favorite39,
.favorite40,
.favorite41,
.favorite42 {
  left: 2030px;
}
.favorite39,
.favorite40,
.favorite41,
.favorite42 {
  top: calc(50% + 132px);
  left: 966px;
}
.favorite40,
.favorite41,
.favorite42 {
  top: calc(50% + 549px);
  left: 1494px;
}
.favorite41,
.favorite42 {
  top: calc(50% + 146px);
  left: 2030px;
}
.favorite42 {
  top: calc(50% - 261px);
  left: 2020px;
}
.fruitsnvegetables-child1 {
  position: absolute;
  height: 1.93%;
  width: 12.71%;
  top: 0.9%;
  right: 1.41%;
  bottom: 97.17%;
  left: 85.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fruitsnvegetables-child2,
.search-icon5 {
  position: absolute;
  top: 19.25px;
  left: 72.33px;
  width: 53.13px;
  height: 45.5px;
}
.search-icon5 {
  top: 0;
  left: 1117.83px;
  width: 80.17px;
  height: 45px;
  overflow: hidden;
}
.frame-child215 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1123.15px;
  height: 37px;
}
.search-for-products5 {
  position: absolute;
  top: 5px;
  left: 38px;
  font-weight: 500;
  display: inline-block;
  width: 325.4px;
  height: 21.46px;
}
.search-group {
  position: absolute;
  top: 31px;
  left: 424px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1194px;
  height: 37px;
  font-size: var(--font-size-5xl);
  color: rgba(76, 101, 61, 0.45);
}
.search-icon6 {
  position: absolute;
  top: 0;
  left: 1125.83px;
  width: 80.17px;
  height: 45px;
  overflow: hidden;
}
.frame-child216 {
  position: absolute;
  top: 0;
  left: 8px;
  width: 1123.15px;
  height: 37px;
}
.search-for-products6 {
  border: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 19px;
  color: var(--color-darkolivegreen-600);
  text-align: center;
  display: inline-block;
  width: 306px;
  height: 21px;
}
.search-container {
  position: absolute;
  top: 31px;
  left: 416px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1202px;
  height: 37px;
}
.location-on-icon5 {
  position: absolute;
  top: 31px;
  left: 227px;
  width: 35px;
  height: 38px;
}
.vadodara4 {
  position: absolute;
  top: 42px;
  left: 262px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  text-align: left;
}
.fruitsnvegetables1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2656px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
