.oqqs4lhgkfl6ivu3cnvoezs4wxarqj {
  position: relative;
  width: 100%;
  height: 242px;
  background-image: url(./public/oqqs4lhgkfl6ivu3cnvoezs4wxarqjbsxeunhpl8xiasskn8h9pliidvxrtwg5co-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
